//scss
$themeColor: #DD4F43;
$borderColor: #DD4F43;
$borderWidth: 6;
$themeBgColor: #fff;
html,body{
  width: 100%;
  height: 100%;
  font-family:"微软雅黑","黑体","宋体";
}
.bis-page{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $themeBgColor;
  overflow-x: hidden;
}
.app-main {
  width: 100%;
  height: calc(100% - 175px);
  overflow-x: hidden;
  overflow-y: auto;
}

